.container{
  display: flex;
  flex-wrap: wrap;
}
  
.cell{
  width: calc(100vw / 51 - 20px);
  height: calc(100vw / 51 - 20px);
  margin: 2px;
  border: 2px solid black;
}
  
.selected{
  border: 2px solid red;
  background-color: red;
}